<p><span style="font-variant: small-caps;">Doctoral Thesis</span><br />
<br />
</p>
<p><strong></strong></p>
<p><br />
</p>
<p>[t]<span>0.4</span></p>
<p><em>Author:</em><br />
<a href="http://www.johnsmith.com"></a></p>
<p>[t]<span>0.4</span></p>
<p><em>Supervisor:</em><br />
<a href="http://www.jamessmith.com"></a></p>
<p><br />
</p>
<p><em>A thesis submitted in fulfillment of the requirements<br />
for the degree of</em><br />
<em>in the</em><br />
<br />
<br />
</p>
<p><br />
</p>
<p>I, , declare that this thesis titled, “” and the work presented in it are my own. I confirm that:</p>
<ul>
<li><p>This work was done wholly or mainly while in candidature for a research degree at this University.</p></li>
<li><p>Where any part of this thesis has previously been submitted for a degree or any other qualification at this University or any other institution, this has been clearly stated.</p></li>
<li><p>Where I have consulted the published work of others, this is always clearly attributed.</p></li>
<li><p>Where I have quoted from the work of others, the source is always given. With the exception of such quotations, this thesis is entirely my own work.</p></li>
<li><p>I have acknowledged all main sources of help.</p></li>
<li><p>Where the thesis is based on work done by myself jointly with others, I have made clear exactly what was done by others and what I have contributed myself.<br />
</p></li>
</ul>
<p>Signed:<br />
</p>
<hr />
<p>Date:<br />
</p>
<hr />
<p>“<em>Thanks to my solid academic training, today I can write hundreds of words on virtually any topic without possessing a shred of information, which is how I got a good job in journalism.</em>”</p>
<p>Dave Barry</p>
<p>The acknowledgments and the people to thank go here, don’t forget to include your project advisor…</p>
<p><span>ll</span> <strong>LAH</strong> &amp; <strong>L</strong>ist <strong>A</strong>bbreviations <strong>H</strong>ere<br />
<strong>WSF</strong> &amp; <strong>W</strong>hat (it) <strong>S</strong>tands <strong>F</strong>or<br />
</p>
<p><span>lr@<span><span class="math inline"> = </span></span>l</span> Speed of Light &amp; <span class="math inline"><em>c</em><sub>0</sub></span> &amp; (exact)<br />
</p>
<p><span>lll</span> <span class="math inline"><em>a</em></span> &amp; distance &amp;<br />
<span class="math inline"><em>P</em></span> &amp; power &amp; ()<br />
<span class="math inline"><em>ω</em></span> &amp; angular frequency &amp;<br />
</p>
<h1 id="Chapter0">Gene Regulation</h1>
<h2 id="regulation">Regulation</h2>
<p>All cells in an organism share the same genetic library. The dynamics that drive the differential usage of this library, in time and in space, allowed multicellularity, tissue specification, organ-formation, axis formation etc. In other words, without the ability to use the genetic library in various ways, the clones of cells would only be able to form amorphous blobs instead of the great variety of organisms that exist.</p>
<p>These dynamics, or regulation of gene expression (gene-regulation), are controlled by mechanisms in essentially every step of the production of a gene product (protein or RNA). In this work we will focus on the first of those steps, the regulation of transcription and we will mostly ignore regulation in later steps such as rna-processing, rna-transfer or translation.</p>
<p>During development, an organism has to unpack all of its complexity out of a single cell, from a single copy of its DNA material (and some maternal RNA that jump-starts the process). It is in this stage of an organism’s life that we encounter the greatest complexity in gene expression patterns, and where gene-regulation mechanisms have the biggest effects.</p>
<p>Although individuals with identical genotype display higher similarity of gene expression than related or non-related individuals <span class="citation" data-cites="Cheung2003"></span>, we can still detect differences which seem to increase with age <span class="citation" data-cites="Fraga2005"></span>. These subtle regulatory differences in homozygotic tweens could lead to the subtle phenotypic differences between those individuals.</p>
<p>The slightly larger, compared to twins, differences in genetic makeup and gene-expression that one would expect to find in a population give us the differences between great-danes and chihuahuas, while even larger differences give us the differences between species.</p>
<p>Since changes on gene regulation have such a strong impact on organism morphology, they apply strong evolutionary pressure Are under evolutionary selection ++</p>
<h2 id="transcription-regulation" class="unnumbered">Transcription regulation </h2>
<p>the regulation of where (in which cell-type) and when (when) a gene will be transcribed is the first and most important of the sites of gene-regulation.</p>
<p>23 years ago, when only few sequences larger than 20kb could be compared across mammals, Ben F. Koop talks about a non coding 120bp region in the 5’ of Ca gene, which is conserved in mouse but also found in fish, birds, and Xenopus, and was shown to bind proteins and alter the levels of RNA transcription, but he does not have the vocabulary to call the region by any other name. <span class="citation" data-cites="Koop1995"></span></p>
<p><span>r</span><span>0.5</span> <embed src="Figures/tfigure_TheGenomes.pdf" style="width:48.0%" /></p>
<p>Since then, thanks to NGS, epigenomics, ++ we can talk about enhancers, promoters, insulators, ultra-conserved regions, transcription factors, transcription-factor binding sites, chromatin accessibility, chromatin modifications, ++</p>
<p>Our eyes have been opened to the vast complexities of transcription regulation.</p>
<p>Our current understanding, simplified, is that some proteins bind on somehow specific positions on the DNA molecule and help regulate gene transcription. They do this through complex interactions with other such proteins that bind on proximal or distal positions, or proteins that don’t directly bind DNA but are nevertheless important for the interactions. The way that all this influences gene transcription is through the facilitation or obstruction of the binding of the proteins that actually transcribe DNA (transcriptional machinery), on the locations where they need to bind in order to start the transcription. This in essence turns transcription on or off and controls the gene’s production.</p>
<h2 id="trans-regulation">Trans-Regulation</h2>
<h3 id="binding" class="unnumbered">Binding</h3>
<p>We call these DNA-binding, transcription-regulating proteins Transcription Factors (TFs).</p>
<p>TFs bind to DNA through physical interactions between the amino acid side chains of the protein and the accessible edges of the base pairs of the DNA molecule. Those include direct hydrogen bonds, water-mediated hydrogen bonds and hydrophobic contacts. <span class="citation" data-cites="Slattery2014"></span></p>
<p>We can think about proteins based on the domains (protein fragments that can fold correctly without the rest of the polypeptide) that they consist of. TFs contain domains that make contact with the DNA molecule by presenting a protruding surface and/or a flexibly extended structure <span class="citation" data-cites="harrison1991structural"></span>. We call these ‘binding domains’ and they are a useful way of classifying TFs into families. +++ the C2H2 zinc-finger, homeodomain, and helix-loop-helix dominate in humans and mouse <span class="citation" data-cites="Vaquerizas2009"></span></p>
<p>The other partner of this interaction, the DNA molecule, also presents itself in a variety of shapes and is not always found in its bibliographical B-form double helix form <span class="citation" data-cites="Joshi2007"></span>.</p>
<h3 id="binding-sites">Binding sites</h3>
<p>In order to study trans regulation, the most common first question is “where does protein X bind on the genome”. Between the various shapes of both the TFs and the DNA molecule, various emerging features seem to contribute in TF-DNA readout on multiple levels. First and foremost, at least in terms of frequency of use in research, is the strong preference for specific genomic sequence patterns that many TFs display <span class="citation" data-cites="stormo2000 Bussemaker2007 Badis2009diversity stormo2010determining Weirauch2013evaluation jolma2013dna whitte2013massively"></span>. In combination with the fact that every base pair has a unique hydrogen bonding signature (in the major groove, not in the minor) and observations derived from three-dimensional structures of protein-DNA complexes <span class="citation" data-cites="rohs2009the"></span> the base-readout mechanism of TF-DNA binding is very well established, but not the entire picture.</p>
<p>In some cases, the nucleotide sequence offers binding opportunities not by hydrogen bonds on the major groove, but rather by conforming the DNA molecule such as in the opening of the minor groove in the complex formed between TBP and the TATA box <span class="citation" data-cites="rohs2009the_7 rohs2009the_8"></span>. In another case, a Drosophila Hox protein is shown to bind to particular minor groove narrowings which emerge as sequence specific characteristics and create a local dip in electrostatic potential <span class="citation" data-cites="Joshi2007"></span>.</p>
<p>Some TFs form complexes with non-binding factors (co-factors) which can change the binding affinity of the complex <span class="citation" data-cites="siggers2011 slattery2011cell"></span>. Others need to be bound in multifactor complexes <span class="citation" data-cites="enhanceosome"></span>.</p>
<p>Most of the DNA is usually found in a tightly packed chromatin state, conceptually occupied by nucleosomes. Histones, the protein parts of nucleosomes are the most important DNA binding proteins and their dynamics and their effects on gene regulation are complex enough to warranty a section later on in this work. Some factors are heavily deterred by nucleosome occupancy <span class="citation" data-cites="liu2006Leu3 Bai2010 Kaplan2011"></span> while others compete with nucleosomes <span class="citation" data-cites="polach1996 barozzi2014"></span>, potentially interacting with them <span class="citation" data-cites="glat2011 zaret2011 PIQ"></span>.</p>
<p>Some factors contain multiple independent DNA binding domains https://academic.oup.com/nar/article/42/4/2099/2435233</p>
<p>Besides all that, the DNA might be methylated which can inhibit TF binding <span class="citation" data-cites="Domcke2015"></span>.</p>
<p>Unfortunately then, answering the “where does it bind” question is anything but simple.</p>
<h4 id="wet-lab-techniques" class="unnumbered">Wet lab techniques</h4>
<p>The identification of TFbs has relied heavily on Structural biology and more recently in high-throughput technologies such as CHiP-seq.</p>
<p>The Encyclopedia of DNA Elements (ENCODE) Consortium, an international collaboration of research groups with the goal of cataloguing the functional elements of the human genome, tackles the problem of identifying TFbs with CHIP-seq assays against TFs (listing about 2500 such assays in human context so far).</p>
<p>This technique is the currently best wet-lab approach to answer the question: “In this biological sample, which parts of the genome are more likely to be bound to protein X” with direct evidence.</p>
<p>With Chromatin-immunoprecipitation sequencing (CHip-seq), we can detect regions on the genome that interact with a protein of our choice (for which an appropriate antibody must be available). Very briefly, we immunoprecipitate out protein while it’s still bound to DNA and then we sequence the DNA fragments that we collected. Those will be the regions of the genome that are touching our protein. The results of such an assay, after some statistical analysis, offer regions ( that can range in size up to 300bp or more ) where we have high confidence that our favorite protein binds.</p>
<p>For some questions that a researcher might have, this resolution will be limiting. To increase the resolution and have a single-base-resolution predictions, we combine our direct-evidence data with computational methods.</p>
<h4 id="dry-lab-techniques" class="unnumbered">Dry lab techniques</h4>
<p>Computational methods model the TF-DNA interactions, using knowledge gained by direct-evidence experiments and then apply the model in order to offer predictions on conditions for which direct-evidence data is not available. The goal of any such approach is to reach the predictive power of a molecular biology assay but of course this is, for now, impossible. Nevertheless, these techniques are integral to modern regulation analysis since they can be applied essentially for free in comparison to biological assays and even though the results are technically imperfect, they are still very useful for biological predictions of high quality, especially when used in tandem.</p>
<h4 id="pwms">PWMs</h4>
<p>The most common such computational model are Position-Weight Matrices (PWMs). This model exploits the observation that many TFs have a strong preference for specific genomic sequence patterns <span class="citation" data-cites="Slattery2014"></span>.</p>
<p>A PWM then, models a certain number of bases and contains a weight -which can be determined in a variety of ways- for each of the 4 nucleotides in each of those positions <span class="citation" data-cites="stormo2000"></span>(a weight per base for each position: a position weight matrix). These simple mathematical objects can lead to very fast sequence searches <span class="citation" data-cites="Claverie96"></span> and as a consequence have been used extensively to identify putative sites of TFs. In fact, often, they are found as the basis of more complex computational methods.</p>
<p>In comparison to consensus sequences, an earlier approach to this concept, PWMs handle mismatches in a more plastic way, since they can score each base in each position separately instead of relying in a perfect match or not, there are drawbacks in this model as well. For example, PWMs incorrectly assume that each position contributes independently in the binding and don’t account for position interdependencies <span class="citation" data-cites="Mathelier2013"></span>.</p>
<h5 id="other-seq-based-approaches">Other seq-based approaches</h5>
<p>Plenty of effort has been invested in improving or surpassing PWMs. From improving the PWM model <span class="citation" data-cites="Sharon2008 Gersh2005"></span>, to alternative models such as dinucleotide weight matrices <span class="citation" data-cites="2nucWeightMatrices"></span>, alternative heuristic approaches<span class="citation" data-cites="Mathelier2013"></span>[20,21,22], hidden Markov models, variable-order Bayesian networks or the TF Flexible Model <span class="citation" data-cites="Mathelier2013"></span>. Despite the plethora of alternatives, no method has managed, yet, to replace PWMs as the basic model to detect single base resolution TFbs. PWMs are improved over time, as new direct-evidence data is collected, they are fast to implement and very intuitive thanks to the ability to represent them as logos.</p>
<h5 id="neural-networks">Neural Networks</h5>
<p>Artificial Neural Networks (NN) are enjoying an era of great development and popularity, thanks to advancements in technology, namely the increased computational power of Graphics processing units(GPU) and landmark papers such as <span class="citation" data-cites="Krz2012"></span> that firmly established NNs at the forefront of computer vision, artificial intelligence and machine learning. A few years into this explosion of NNs, NN-based programs are the best chess-playing algorithms and have managed, for the first time, to beat human champions in the game of Go, one of the last bastions of human intellectual supremacy over the machine.</p>
<p>Nevertheless, NNs are not a new idea. The theoretical base was already explored in the 19th century. In fact, the perceptron algorithm, a simple artificial NN was at the core of the development of PWMs<span class="citation" data-cites="perceptron stormo2000"></span>.</p>
<p>Artificial NNs are heavily inspired by real, biological neural networks but in the context of computational biology, at least in this body of work, they should be considered as nothing more than a very complex, impressively capable and efficient linear algebra model. What can be abstracted as neurons for the benefit of human intuition, is distilled in large matrix operations. That’s why NNs resurged after sufficiently powerful GPUs were developed; GPUs are exceptionally good at handling big matrix operations (this is what computer graphics boils down to as well).</p>
<p>How NNs work Should I get into more detail ?</p>
<p>NNs quickly became the bleeding edge of TFbs analysis. The first layer of a typical such model “discovers” (learns) many dozens of PWMs (features of W length and 4 height) and when presented with a sequence it will ‘run’ those PWMs (features) across the sequence and output their score for each possible successive position on the sequence.</p>
<p>If approached from a different point of view, each of those possible successive positions, can be considered as a neural node, that receives input from W points of the sequence and outputs one score for each of the features (PWMs) that it is learning about.</p>
<p>The second layer of a NN learns PWM-like features as well, but this time they are based on the output of the first layer. It learns “PWMs of PWMs” (higher order features). From the alternative point of view, a second layer of neurons are connected not to the raw sequence but on the first layer of neurons ( and in a very orderly fashion at that ).</p>
<p>This second layer is a huge boost to the complexity of the model since it can capture dynamics such as varying distance between features, or “either this feature or that feature in X position”.</p>
<p>As was hinted in the previous paragraphs, a NN for genomic sequences will typically take as input a large sequence. While a big PWM might be modeling 30bps, a NN will model from 300-1000bps. This allows the NN to incorporate a much wider and broader sets of features since the sequence itself sometimes contains information about nucleosome occupancy or DNA shape, DNA features which as was discussed already play a role in TF occupancy.</p>
<p>NN papers: DeepBind: pattern discovery: https://www.nature.com/articles/nbt.3300 Deepmotif: This paper applies a deep convolutional/highway MLP framework to classify genomic sequences on the transcription factor binding site task. https://arxiv.org/abs/1605.01133 CKN-seq: compares to deepBind: https://www.biorxiv.org/content/early/2017/11/10/217257 TFimpute: The proposed model, termed TFImpute, is based on a deep neural network with a multi-task learning setting to borrow information across transcription factors and cell lines.: https://journals.plos.org/ploscompbiol/article?id=10.1371/journal.pcbi.1005403 Kitchen-sinks: prediction of transcription factor binding sites from DNA sequence. https://arxiv.org/abs/1706.00125 DeepSea: https://www.nature.com/articles/nmeth.3547 DanQ: a hybrid convolutional and recurrent deep neural network for quantifying the function of DNA sequences https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4914104/</p>
<h5 id="other-non-seq-based-approaches">Other non seq-based approaches</h5>
<p>A drawback of the class of models that, like PWMs, model binding based only on the genomic sequence is that they are context-ignorant. As was noted earlier, the spatially and temporally specific binding of TFs on DNA is very crucial to cell differentiation and the binding sites of a factor will change drastically between different cell contexts but a sequence-only model’s answer will always be the same (TFimpute actually tries to tackle exactly this issue).</p>
<p>In order to add contextual information, we can use other models in tandem with our sequence based one. For example we can use a model that models DNA-shape based on sequence and use its output to better inform our TFbs predictions. A better alternative is to use some wet-lab experiment’s data such as genome-wide data for nucleosome occupancy or DNA-methylation levels.</p>
<p>A very interesting option for such an endeavor are the DNA-accessibility assays DNAase and ATACseq. The two methods are very similar, with ATACseq being newer faster and cheaper. In these assays, we introduce a DNA-cutting protein to our biological sample, and after sequencing we can deduce in which regions of the genome the protein made a cut most times. Regions of the DNA molecule that are tightly packed and inactive will not be accessible to the DNA cutting protein but in regions with regulatory activity, the DNA molecule is much more accessible and vulnerable. The identification of regulatory-active regions is already a great step for this analysis as we can already safely discard any putative TFbs that fall outside of those regions. Besides this, interestingly, many DNA-binding proteins also protect the underlying DNA from the cutting activity and consequently leave a “footprint” on the ATACseq signal, a depression of signal in an otherwise active region.</p>
<p>A few models have been developed to take advantage of this phenomenon.</p>
<p>The Wellington algorithm models an imbalance in the DNA strand-specific alignment information of DNase-seq data surrounding protein–DNA interactions to predict occupied TFbs and in does so differentially to identify cell-type determining TFs.</p>
<p>Centipede applies a hierarchical Bayesian mixture model to infer regions of the genome that are bound by particular transcription factors. Two other approaches, msCentipede and Romulus, takes steps to improve on the idea of <span class="citation" data-cites="centipede"></span>. PIQ uses machine learning techniques to model the magnitude and shape of genome-wide DNase profiles and identify occupied TFbs.</p>
<p>This approach of modeling the DNA accessibility data instead of the DNA sequence has its own drawbacks. For example, different TFs have different occupancy times and strengths and as a result some TFs don’t bind DNA long enough, or strong enough or in enough cells in our biological example to leave a mark on the accessibility signal.</p>
<h5 id="nimrod">Nimrod</h5>
<p>If not all, then most of the computational approaches to identify occupied TFbs that we mentioned so far, rely on PWMs and work by scanning the genome for PWM hits and then filtering those based on each model’s parameters. We further divided them in two other categories, the models that rely only on genomic sequence and those that rely on DNA accessibility data. The later might still rely on PWMs as “seeding” but to our knowledge no method integrates genomic sequence and accessibility signal in the same model.</p>
<p>We developed a NN to attempt such an approach. Our model was designed a lot like the NNs mentioned earlier. A first layer (seq layer 1) takes the genomic sequence (a total of 1000b around a PWM hit) as input and outputs to the second layer (seq layer 2) which learns higher order features. At the same time, two layers with the same configuration operate on ATACseq signal from exactly the same genomic region (atac layer 1 and 2). These layers will learn features of ATACseq signal just like the sequence layers learn sequence features.</p>
<p>The two inner layers (seq layer 2 and atac layer 2) get ‘zipped’/merged into a single layer and the now merged signal gets passed to more layers of the model for even higher order feature discovery. The signal finally converges to the output layer of the NN which offers a score for the region that is tested.</p>
<p>We present an implementation of our model, made with TensorFlow and accompanying python code to facilitate the analysis and generation of new models.</p>
<p>We trained our model in a variety of biological contexts and compare it with the strongest of the previously mentioned models to show how our model outperforms them.</p>
<p>Predicting transcription factor binding in vivo is more difficult because it is affected by other proteins, the chromatin state and the physical accessibility of the binding site.</p>
<h2 id="epigenetics">Epigenetics</h2>
<p>One of the first debates in biology was about the way with which complex organisms develop. An early popular theory was that organisms are preformed, perhaps existing as little homunculi inside sperm, and then simply grow during development. Preformationism lasted as the dominant theory until the end of the 19th century or early 20th, by which time enough evidence had been gathered to show that actually organisms develop based on a plan that is orchestrated by nothing more than complex chemical reactions, a process that would be called “epigenesis” <span class="citation" data-cites="Felsen14"></span>. The discovery that genes, as they were understood at the time, could be associated to specific regions of chromosomes solidified epigenesis as a leading theory(Morgan 1911) and the identification of DNA as the main information-holding molecule dramatically changed the landscape.</p>
<p>In 1970 Laskey and Gurdon (Laskey and Gurdon 1970) show that the DNA of a somatic cell nucleus was competent to direct embryogenesis when introduced into an enucleated egg. That means that somatic cells inherit the entirety of the genomic information of the zygote. Yet the divergent phenotypes between differentiated cells and the communication of those to daughter cells were also undeniable. The information is in the DNA, but different cells have the same DNA, so how are they different? This is the burning question behind the term epigenetic, as it is understood today. Riggs et al, in 1996 defined it as “the study of mitotically and/or meiotically heritable changes in gene function that cannot be explained by changes in DNA sequence” (Riggs et al. 1996; Riggs and Porter 1996.</p>
<h3 id="methylation">Methylation</h3>
<p>As outlined by <span class="citation" data-cites="Felsen14"></span>, DNA methylation was one of the first epigenetic (in the modern definition) processes to by studied. Although the idea that DNA methylation might play a role in DNA regulation was not completely new at the time, Riggs in 1975 (Riggs (1975), based on findings about methylation in bacteria, proposes a model of DNA methylation regulated inactivation of the X chromosome. Later work would confirm, refine, enrich, and extend the model to explain how it epigenetically controls the activity statuses of genes.</p>
<p>DNA methylation is a process by which methyl groups are added to the DNA molecule, catalyzed by DNA methyltransferase enzymes (DNMTs)<span class="citation" data-cites="Bogdanovic2009a"></span>. The modified cytosine can be found in all vertebrates and flowering plants; some fungal, invertebrate, and protist taxa; and many bacterial species <span class="citation" data-cites="bestor05"></span>. Nevertheless the dynamics of methylation appear to have different importance and roles in different branches. In vertebrates, methylated cytosine is almost exclusively found on the cytosine of CG dinucleotides (CpG) with 60 to 90</p>
<p>Methylation of gene bodies is an important pattern that has been found to be conserved between plants and animals <span class="citation" data-cites="zemach10"></span> and is correlated with higher gene expression in plants, invertebrates and vertebrates <span class="citation" data-cites="wang14"></span>. On the other hand, de-methylation of promoters is considered an important activation mark and correlated with increased transcription levels (but not in invertebrates <span class="citation" data-cites="zemach10"></span>). Additionally, plants and vertebrates (but not invertebrates) display high levels of enrichment on transposable elements which is understood to be a defensive mechanism (via repression of the element) against the potentially harmful effects of those elements.</p>
<p>+++ Ozren “demethylation at enhancers“</p>
<p>DNA methylation is critical for the proper development and health of individuals. This alteration of the DNA molecule can influence gene expression in at least two ways. One is to interfere with TF binding by making the methylated site inhospitable to the TF. The second way is by recruiting proteins that are associated with chromatin modifiers to make the chromatin environment even more repressive <span class="citation" data-cites="Bogdanovic2009a"></span>.</p>
<p>These proteins read and interpret the epigenetic signals and provide a connection between DNA methylation and chromatin modification.</p>
<h3 id="histone-modifications">Histone modifications</h3>
<p>The chromatin modifiers that were just mentioned, might include a category of enzymes that are responsible for a range of post-translational modifications of the most abundant DNA-binding proteins; the histones. The DNA molecule is packed tightly in the nucleus of eukaryotes, wrapped around octamers of the “core” histones whose amino-terminal tails pass over and between the the DNA superhelix to contact neighbouring particles<span class="citation" data-cites="Luger97"></span>.</p>
<p>The first connection of histone modifications to gene regulation was proposed surprisingly early in 1964 when, with a working model that considered histones as proteins that bind to DNA and repress RNA transcription,Allfrey and Mirsky presented their findings that acetylation and methylation of histone takes place post-translationally and that acetylation specially “may affect the capacity of the histones to inhibit ribonucleic acid synthesis in vivo”<span class="citation" data-cites="ALLFREY64"></span>.</p>
<p>Since then, the nucleosome was described and a lot of the details of the above model were illuminated. The N-terminal tails of histones, where most modifications take place, can undergo a large variety of modifications (at least eight distinct types) but acetylation, methylation and phosphorylation have dominated scientific interest <span class="citation" data-cites="kouz07"></span>. Besides modifications of the N tails, reports of modifications located within the globular domain of histones are surfacing <span class="citation" data-cites="Kebede2015"></span>.</p>
<h4 id="h3k4me3">H3k4me3</h4>
<p>The thi-methylation of the fourth lysine of histone 3 was shown to be mediated by the Set1 protein in yeast and in contrast to the di-methylated state, which is mediated by the same protein, was found exclusively at active genes<span class="citation" data-cites="santosrosa02"></span>. In humans, h3k4me3 is mediated by Set9, which competes with histone deacetylases and precludes the H3k9 methylation by Suv39h1<span class="citation" data-cites="nishi02"></span>.</p>
<p>We report here that the promoter-proximal nucleosomes of at least 75</p>
<p>Zebrafish: By applying chromatin immunoprecipitation followed by deep sequencing, we find that H3K4me1 and H3K4me3 are enriched at transcriptional start sites in the genome of the developing zebrafish embryo and that this association correlates with gene expression <span class="citation" data-cites="aday11 Bogdanovic2012"></span></p>
<p>H3K4me3 has been widely used as a means to detect transcriptionally initiated genes (as of October 2018, 168 different chip-seq assays are available for human cells and tissues on the ENCODE project alone. 106 for mouse). We contribute to the effort to investigate this modification by providing H3K4me3 assays in two new developmental stages of zebrafish, significantly enhancing the resolution of the available data during the development of the popular model organism. H3k27ac</p>
<h1 id="AppendixA">Frequently Asked Questions</h1>
<h1 id="AppendixB">another thing</h1>
